<nav class="navbar navbar-light bg-primary text-white">
  <div class="container-fluid justify-content-between">
    <div class="d-flex align-items-center">
      <a class="navbar-brand">
        <svg id="svg8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.5 592" width="35" height="40" ><style>.st0{fill:#d41e1e}.st1{fill:#831d0b}.st2{fill:#e22e28}</style><g id="layer5"><g id="g1627"><path id="path1599" class="st0" d="M0 322.4c64.4 34.2 131.6 70 183.5 97.7l182-97.7c-65.9 97.9-120.8 179.4-182 269.6C122.2 502 54.5 402.7 0 322.4zm7-27l176.7-94.3 174.4 93.6-174.3 94.4L7 295.4zm176.5-124.5L0 267.5 182.7 0l182.8 268.1-182-97.2z"/><path id="path1593" class="st1" d="M183.5 420.1l182-97.7c-65.9 97.9-182 269.6-182 269.6V420.1zm.2-219l174.4 93.6-174.3 94.4-.1-188zm-.2-30.2L182.7 0l182.8 268.1-182-97.2z"/><path id="path1603" class="st1" d="M7 295.4l176.7 14.5 174.4-15.1-174.3 94.4L7 295.4z"/><path id="path1606" class="st2" d="M183.7 309.9l174.4-15.1-174.3 94.4-.1-79.3z"/></g></g></svg>
      </a>
      <h2>Estado: {{msgEstado}}</h2>
    </div>
    <div *ngIf="!estado" class="d-flex justify-content-start">
      <button (click)="conectar()" class="btn btn-secondary">Conectar</button>
    </div>
  </div>
</nav>

<div class="row-fluid">
  <div class="col text-center fs-2 pt-4">
    <p>Bienvenido a las votaciones</p>
  </div>
</div>

<div class="row-fluid">
  <div class="col p-3">
    <div>
      <p class="fs-3">Antes de comenzar reclama tu derecho de voto:</p>
    </div>
    <div>
      <button type="button" (click)="derechoVoto()" class="btn btn-outline-info btn-lg">Reclamar voto</button>
      <button type="button" (click)="actualizarVotos()" class="btn btn-outline-secondary btn-lg ms-3">Actualizar contadores</button>
    </div>
    <div *ngIf="obtencionVoto == 2" class="alert alert-danger mt-3" role="alert">
      Error al reclamar tu derecho de voto
    </div>
    <div *ngIf="obtencionVoto == 1" class="alert alert-success mt-3" role="alert">
      Derecho de voto obtenido correctamente
    </div>         
  </div>
</div>

<div class="row-fluid">
  <div class="col text-center fs-2 pt-4">
    <p>Escoge tu universo cinematografico preferido!</p>
  </div>
</div>

<div class="row-fluid d-flex p-3">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="../assets/marvel-logo.png" class="card-img-top mt-2" alt="Logo Marvel" height="140" width="120">
      <div class="card-body">
        <h5 class="card-title">Universo Marvel</h5>
        <p class="card-text text-center fs-3 fw-bold mb-0">{{countMarvel}}</p>
        <p class="card-text text-center fs-4 fw-bold">Votos</p>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="votar(0)" class="btn btn-danger btn-lg">Votar por Marvel Comics</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="../assets/dc-logo.png" class="card-img-top mt-2" alt="Logo DC Comics"  height="140" width="120">
      <div class="card-body">
        <h5 class="card-title">Universo DC</h5>
        <p class="card-text text-center fs-3 fw-bold mb-0">{{countDC}}</p>
        <p class="card-text text-center fs-4 fw-bold">Votos</p>        
        <div class="d-flex justify-content-center">
          <button  type="button" (click)="votar(1)" class="btn btn-primary btn-lg">Votar por DC Comics</button> 
        </div>       
      </div>
    </div>
  </div>  
</div>

<div class="row-fluid d-flex pt-3">
  <div class="col p-3">
    <div *ngIf="votovalido == 1" class="alert alert-success mt-3" role="alert">
      Voto realizado correctamente
    </div>
    <div *ngIf="votovalido == 2" class="alert alert-danger mt-3" role="alert">
      Error al votar
    </div> 
  </div>     
</div>